<div class="container">
  <form>
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Cadastro de Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input pInputText type="number">
      </div>

      <div class="uig-12 ui-md-9 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-10 ui-g-2 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999" placeholder="ex: 85868-110"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Cidade</label>
        <input pInputText type="text">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Estado</label>
        <input pInputText type="number">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:">Voltar para pesquisa</a>
      </div>

    </div>
  </form>
</div>


