<div class="ui-g">
  <div class="ui-g-12">
    <p-dataTable [value]="pessoas"
                 [paginator]="true" [rows]="3"
                 [responsive]="true">
      <p-column field="nome" header="Nome"></p-column>
      <p-column field="cidade" header="Cidade"></p-column>
      <p-column field="estado" header="Estado"></p-column>
      <p-column field="ativo" header="Status">
        <ng-template let-pess="rowData" pTemplate="body">
          <span [pTooltip]="pess.ativo === true ? 'Ativo' : 'Inativo'">{{pess.ativo}}</span>
        </ng-template>
      </p-column>
      <p-column styleClass="col-acoes">
        <ng-template pTemplate="body">
          <button pButton icon="fa-pencil" pTooltip="Alterar" tooltipPosition="top"></button>
          <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
